 Color Theme Swatches in Hex 
.Clearbit-Website-Design-1-hex { color: #9591F2; }
.Clearbit-Website-Design-2-hex { color: #111BD9; }
.Clearbit-Website-Design-3-hex { color: #BBBDF2; }
.Clearbit-Website-Design-4-hex { color: #3876F2; }
.Clearbit-Website-Design-5-hex { color: #CEDEF2; }

Color Theme Swatches in RGBA 
.Clearbit-Website-Design-1-rgba { color: rgba(148, 145, 242, 1); }
.Clearbit-Website-Design-2-rgba { color: rgba(17, 27, 216, 1); }
.Clearbit-Website-Design-3-rgba { color: rgba(186, 189, 242, 1); }
.Clearbit-Website-Design-4-rgba { color: rgba(55, 117, 242, 1); }
.Clearbit-Website-Design-5-rgba { color: rgba(205, 221, 242, 1); }

 Color Theme Swatches in HSLA 
.Clearbit-Website-Design-1-hsla { color: #9391f2; }
.Clearbit-Website-Design-2-hsla { color: #111ed4; }
.Clearbit-Website-Design-3-hsla { color: hsla(236, 68, 84, 1); }
.Clearbit-Website-Design-4-hsla { color: hsla(219, 87, 58, 1); }
.Clearbit-Website-Design-5-hsla { color: hsla(213, 58, 87, 1); }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #CEDEF2;
}
  
nav {
    width: 100%;
    background: linear-gradient(to right, #0c0c0c, rgb(29, 29, 29), rgb(29, 29, 29), #0c0c0c);
}
.menu-index {
    display: flex;
    height: 6rem;
    margin: 0 auto;
    align-items: center;
    max-width: 1200px;
    justify-content: space-between;
    background: none;
}
.menu-index img {
  margin: 10px;
  width: 65px;
  height: 65px;
  border-radius: 10%;
  margin-right: 20px;
  box-shadow: 2px 2px #9591F2;
}
ul {
  display: flex;
  gap: 1rem;
  list-style: none;
}
ul li {
  color: white;
  display: grid;
  place-content: center;
  margin: 0;
}
.menu::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: white;
  border-radius: 5px;
  transform: scaleX(0);
  transition: all .5s ease;
  bottom: 0;
  left: 0;
}
main {
    margin: 0 auto;
    max-width: 1200px;
}


/*CARROSSEL*/

.carousel-container {
  position: relative;
  display: inline-block; /* Para se ajustar ao tamanho da imagem */
  overflow: hidden;
}

.carousel-slide {
  position: relative;
}

.carousel-slide img {
  width: 75rem;
  height: 350px;
}

.prev,
.next {
  position: absolute;
  bottom: 14px;
  width: 40px;
  height: 2px;
  background-color: #9391f2;
  border: none;
  cursor: pointer;
  box-shadow: 1px 1px #CEDEF2;
}

.prev {
  left: 53%;
  transform: translateX(-75%); /* Posiciona o botão no canto inferior e ajusta para a esquerda */
}

.next {
  right: 53%;
  transform: translateX(75%); /* Posiciona o botão no canto inferior e ajusta para a direita */ 
}

/* SECTION 2 CARROUSEL */


.section-news h1 {
  background: #9391f2;
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 3rem;
}
.carroussel-novidades {
  background: #fffdf4;
  padding: 2rem;
}
.carousel {
  display: block;
  text-align: left;
  position: relative;
  margin-bottom: 22px;
  background: #fffdf4;

  
  > input {
      clip: rect(1px, 1px, 1px, 1px);
      clip-path: inset(50%);
      height: 1px;
      width: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      
      &:nth-of-type(6):checked ~ .carousel__slides .carousel__slide:first-of-type { margin-left: -507%; }
      &:nth-of-type(5):checked ~ .carousel__slides .carousel__slide:first-of-type { margin-left: -405.7%; }
      &:nth-of-type(4):checked ~ .carousel__slides .carousel__slide:first-of-type { margin-left: -304.2%; }
      &:nth-of-type(3):checked ~ .carousel__slides .carousel__slide:first-of-type { margin-left: -202.7%; }
      &:nth-of-type(2):checked ~ .carousel__slides .carousel__slide:first-of-type { margin-left: -101.3%; }
      &:nth-of-type(1):checked ~ .carousel__slides .carousel__slide:first-of-type { margin-left: 0%; }
      
  }
}

.carousel__slides {
  position: relative;
  z-index: 1;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  display: flex;
}

.carousel__slide {
  position: relative;
  display: block;
  flex: 1 0 100%;
  overflow: hidden;
  transition: all 300ms ease-out;
  box-sizing: border-box;
  white-space: normal;
  
  
  
  figure {
      display: flex;
      margin: 0;
      background: white;
  }
  
  div {
      width: 100%;
      background: none;
  }
  
  img {
      display: block;
      flex: 1 1 auto;
      object-fit: cover;
      width: 850px;
      height: 450px;
      border-radius: 10px;
}
  
  figcaption {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #CEDEF2;
    margin-left: 3px;
    border-radius: 10px;
  }
  figcaption h2 {
    color: #3876F2;
    background: none;
    margin-top: 2rem;
  }
  figcaption p {
    margin-top: 2rem;
    color: rgb(65, 65, 65);
    background: none;
    max-width: 200px;
    max-height: 300px;
    margin-bottom: 2rem;
  }

  figcaption a {
    display: flex;
    text-decoration: none;
    color: #fffdf4;
    background: #3876F2;
    width: 250px;
    height: 25px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px #000b47;
  }
  .credit {
    margin-top: 1rem;
    color: rgba(253, 253, 253, 0.5);
    display: block;
    background: linear-gradient(to right, #0c0c0c, rgb(29, 29, 29), rgb(29, 29, 29), #0c0c0c);     
  }
  
  &.scrollable {
      overflow-y: scroll;
  }
}

.carousel__thumbnails {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  margin: 0 -10px;
  background: #fffdf4;
  margin-bottom: 2rem;
  
  .carousel__slides + & {
      margin-top: 20px;
      
  }
  
  li {        
      flex: 1 1 auto;
      max-width: calc((100% / 6) - 20px);  
      margin: 0 10px;
      transition: all 300ms ease-in-out;
  }
  
  label {
      display: block;
      
                
      &:hover,
      &:focus {
          cursor: pointer;
          
          img {
              box-shadow: 0px 0px 0px 3px #9591F2;
              transition: all 300ms ease-in-out;
          }
      }
  }
  
  img {
      display: block;
      width: 157px;
      height: 157px;
      object-fit: cover;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }
}